.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#root {
  display: flex;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  flex: 1 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.app-bar {
  display: flex;
  width: 100%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}